.keyboard-container {
    background-color: #C9EEFF;
    border: 1px solid #2F58CD;
    border-radius: .6rem;
}

.keyboard-grid {
    padding: .2rem;
    cursor: pointer;
    user-select: none;
}

.keyboard-grid .keys {
    font-size: 1.2rem;
    width: 3.5rem;
    padding: .5rem .6rem;
    margin: .05rem;
    border: 1px solid #2F58CD;
    border-radius: .6rem;
}

.keyboard-grid .delete-key{
    width: 7rem ;
}

.keyboard-grid .shift-key{
    width: 7rem ;
}

.keyboard-grid .enter-key{
    width: 7rem ;
}

.keyboard-grid .space-key {
    width: 100%;
}

.keyboard-grid .keys:hover {
    background-color: #97DEFF;
}

.keyboard-grid .keys:active {
    background-color: #b3e7ff;
}
