*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.defect-entry-popup-grid{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B3E5BE;
}

.defect-entry-popup-container{
    border: 1px solid grey;
    border-radius: 10px;
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}

.row{
    display: flex;
}

.form-row label{
    text-align: left;
    width: 30%;
    font-size: 20px;
    font-weight: 700;
}

.terminal-name{
    border-bottom: 1px solid grey;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #e60000;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form-container .form-row{
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.form-container .form-row input{
    padding: 10px;
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 6px;
    width: 70%;
}

.form-container .form-row input:focus{
    background-color: #e6faff;
    outline: none;
}

.form-container .button-grid{
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.keyboard-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-grid .save{
    background-color: #000000;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 40px;
    border: 1px solid grey;
    border-radius: 5px;
    width:calc(50% - 2px);
}

.button-grid .save:hover{
    transition: .2s;
    background-color: #404040;
}

.button-grid .close{
    background-color: #e60000;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 40px;
    border: 1px solid grey;
    border-radius: 5px;
    width:calc(50% - 2px);
}

.button-grid .close:hover{
    background-color: #ff0000;
    transition: .2s;
}
