*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.terminal-list{
    margin: 0px;
    padding: 30px;
    background-color:#B3E5BE;
    /* display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; */
}

.allTerminals{
    display: inline-block;
    width: 100%;
    border: 1px solid grey;
    border-bottom: none;
    height: 30px;
    color: #cc0000;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.sectionTitle{
    width: 190px;
    height: 30px;
    border-right: 1px solid grey;
    color: #cc0000;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: #cc0000;
    font-weight: 700;
    width: 88%;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid grey;
    border-bottom:none ;
}

.sectionSide{
    color: #cc0000;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 30px;
    width: 190px;
    font-size: 8px;
    border-right: 1px solid grey;
}

.shopCodeTitle{
    margin-right: 3px;
}

.filterSide{
    color: black;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    height: 25px;
    width: 65px;
    font-size: 13px;
    margin-left: 10px;
}