/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #B3E5BE;
  display: flex;
  flex-direction: column;
}

.data-grid{
  display: flex;
  height: 85vh;
}

/* MUI HEADER AND CELLS */
.headerStyle {
  display: flex !important;
  justify-content: center !important;
  border: 1px solid grey !important;
  white-space: normal !important;
  word-wrap: break-word;
  font-size: 17px;
  font-weight: 900 !important;
}

.cellStyle {
  display: flex !important;
  justify-content: center !important;
  border: 1px solid grey !important;
  white-space: normal !important;
  word-wrap: break-word;
  padding: 4px !important;
  font-size: 17px;
}

.partNameStyle {
  color: #B22727;
  font-weight: 900;
  border: none !important;
  font-size: 12px;
}

/* ICONS */
.saveIcon {
  color: white;
  background-color: black;
  width: 100%;
  font-size: 25px;
  border: 1px solid;
  border-radius: 5px;
  padding: .4rem;
}

.saveIcon:hover {
  background-color: white;
  color: black;
  transition: .3s;
}

.editIcon,
.deleteIcon {
  color: white;
  background-color: red;
  border: 1px solid;
  border-radius: 5px;
  /* padding: 5px 10px; */
  margin-right: 5px;
  width: 1rem;
  padding: .6rem;

}

.editIcon:hover,
.deleteIcon:hover {
  color: red;
  background-color: white;
  transition: .3s;
}

/* TOASTIFY MESSAGE */
.Toastify__toast--success.toastMessage {
  background: none;
  color: white;
  font-size: 20px;
  background-color: green;
}

/* BOTTOM GRID */
.bottom-grid {
  height: 20vh;
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
}