* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bottom-grid {
    display: flex;
    height: 15vh;
    background-color: #e6e6e6;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* MONTAJ-BODY */
.bottom-grid .montaj-body {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 12px;
    width: 37%;
    font-weight: 700;
    font-size: 20px;
}

.bottom-grid .bottom-grid-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-grid-section .bottom-grid-input {
    margin-left: 5px;
    width: 225px;
    padding: 4px 15px;
    height: 47px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid gray;
}

.bottom-grid-section .search-button {
    padding: 8px 16px;
    border: 1px solid;
    border-radius: 4px;
    background-color: #cccccc;
    cursor: pointer;
    user-select: none;
    margin-left: 5px;
    margin-right: 20px;
}

.bottom-grid-section .search-button:hover {
    background-color: #a6a6a6;
    transition: .2s;
}

.bottom-grid-section .search-button:active {
    background-color: #737373;
    transition: .2s;
}

/* updown button */
.bottom-grid-section .updown-button {
    background-color: red !important;
    width: 80px;
    text-align: center;
    padding: 10px 16px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    user-select: none;
}

.bottom-grid-section .updown-button:hover {
    background-color: #e60000 !important;
    transition: .2s;
}

.bottom-grid-section .updown-button:active {
    background-color: #fff !important;
    color: #e60000;
}

/* BUTTON CONTAINER  */
.bottom-grid .button-container {
    display: flex;
    flex-direction: row;
}

.bottom-grid-button {
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
    width: 11%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    background-color: #cccccc;
    cursor: pointer;
    user-select: none;
}

.bottom-grid-button:hover {
    background-color: #a6a6a6;
    transition: .2s;
}

.bottom-grid-button:active {
    background-color: #737373;
    transition: .2s;
}


@media screen and (max-width: 1787px) {
    .bottom-grid-section .bottom-grid-input {     
        width: 180px;
    }

    .bottom-grid-button {
        padding: 36px;
        /* width: 11%; */
        font-size: 20px;
    }
}

@media screen and (min-device-width:1504px) and (max-device-width:1786px) {
    .bottom-grid-button {
        padding: 42px;
        /* width: 11%; */
        font-size: 15px;
    }

    .bottom-grid .montaj-body {
        margin: 10px;
        width: 37%;
        font-size: 15px;
    }
}

@media screen and (min-device-width:1324px) and (max-device-width:1503px) {
    .bottom-grid-section .bottom-grid-input {     
        width: 150px;
    }

    .bottom-grid-section .updown-button {
        width: 40px;
    }

    .bottom-grid-button {
        padding: 41px 27px;
        font-size: 15px;
    }

    .bottom-grid .montaj-body {
        margin: 10px;
        width: 37%;
        font-size: 15px;
    }
}

@media screen and (min-device-width:1144) and (max-device-width:1323px) {
    .bottom-grid-section .bottom-grid-input {     
        width: 100px;
    }

    .bottom-grid-section .updown-button {
        width: 30px;
    }

    .bottom-grid-button {
        padding: 41px 13px;
        font-size: 15px;
    }

    .bottom-grid .montaj-body {
        margin: 10px;
        width: 37%;
        font-size: 15px;
    }
}



